body{
	max-width: 100%;
	overflow-x: hidden;
}
#bwseapath{
	position: relative;
	width: 100%;
}
.page-header{
	position: absolute;
	top: 0;
}
#navigationbar {
	top: 80px;
	position: absolute;
	font-family: "Playair display";
}
#navbari:hover {
	color: black;
	font-size: 150%;
}
#navbari {
	color: white;
}
.navigationmenu{
	position: absolute;
	top: 0;
	right: 0;
}
a{

	transition: 0.5s;
}
#navbarabout:hover {
	right: 0;
}
#navbarcontact:hover {
	right: 0;
}
#navbarproject:hover {
	right: 0;
}
#navbargallery:hover {
	right: 0;
}
#navbarabout{
	position: absolute;
	top: 30px;
	right: -80px;
	width: 100px;
}
#navbarcontact{
	position: absolute;
	top: 70px;
	right: -80px;
	width: 100px;
	text-align: center;
}
#navbarproject{
	position: absolute;
	top: 110px;
	right: -80px;
	width: 100px;
}

#navbargallery{
	position: absolute;
	top: 150px;
	right: -80px;
	width: 100px;
}
div.secondscreen{
	background-image: url("background1/bwggate.jpg");
	width: 100%;
	height: 960px;
	border: 0;
	margin: 0;
	padding: 0;
}
header.secscreen {
	font-size: 70px;
	float: right;
	margin-right: 150px;
	margin-top: 80px;
}
article {
	position: absolute;
	right: 80px;
	margin-top: 200px;
	color: rgb(100,100,100);
	font-size: 35px;
}
span.secscreen{
	text-decoration: none;
	color: rgb(100,100,100);
}
span.secscreen:hover {
	text-decoration: underline;
	color: black;
	font-size: 50px;
}

footer.secscreen {
	position: absolute;
	right: 80px;
	margin-top: 450px;
	font-size: 50px;
}
div.third {
	background-color: black;
	padding: 40px;
	width: 100%;
}
div.insidethird {

 	margin: 20px;
 	position: relative; 
 	display: block; 
	}
